
- name: Install the {{ component }}
  command: "apt-get -y install  {{ component + '=' + version + '-1' if version is defined else component }}"
  when: ansible_os_family == "Debian"

- name: Install the {{ component }}
  command: "yum -y install  {{ component + '-' + version + '-1' if version is defined else component }}"
  when: ansible_os_family == "RedHat"

